src/_build
*.vo
*.vok
*.vos
*.mli
*.glob
*.aux
*.crashcoqide
*.out
*.ll
src/extracted/*.ml
src/extracted/*.mli
src/extracted/STAMP
src/extracted/CRelationClasses.mli.orig
src/extracted/CRelationClasses.mli.rej
src/.lia.cache
src/coq/.Makefile.d
src/coq/.lia.cache